<h6 class="text-uppercase fw-bold text-center text-muted mt-4">BERITA TERBARU...</h6>
<div class="row row-cols-1 row-cols-md-3 g-2">
  <% for (let i = 0; i < 1; i++) { %>
    <!-- <a href="/berita/detail/<%= berita_data[i].link %>" class="border-bottom mb-1" onmouseover="this.style.backgroundColor='#EBF1F1'" onmouseout="this.style.backgroundColor='';"> -->
    <a href="<%= berita_bws[i].link %>" class="border-bottom mb-1" onmouseover="this.style.backgroundColor='#EBF1F1'" onmouseout="this.style.backgroundColor='';">
      <div class="col">
        <img src="<%= berita_bws[i].thumbnail %>" class="card-img-top mb-2" alt="" style="height: auto; width: 100%; aspect-ratio: 5 / 2.5;">
        <span class="badge bg-success mb-1"><%= berita_bws[i].pubDate %></span>
        <h6 class="text-uppercase fw-bold text-muted"><%= berita_bws[i].title %></h6>
        <!-- <p class="text-muted mb-2" style="text-align: justify;"><%= berita_bws[i].description %></p> -->
      </div>
    </a>
  <% } %>  
  <% for (let i = 0; i < 1; i++) { %>
    <!-- <a href="/berita/detail/<%= berita_data[i].link %>" class="border-bottom mb-1" onmouseover="this.style.backgroundColor='#EBF1F1'" onmouseout="this.style.backgroundColor='';"> -->
    <a href="<%= berita_kpu[i].link %>" class="border-bottom mb-1" onmouseover="this.style.backgroundColor='#EBF1F1'" onmouseout="this.style.backgroundColor='';">
      <div class="col">
        <img src="<%= berita_kpu[i].thumbnail %>" class="card-img-top mb-2" alt="" style="height: auto; width: 100%; aspect-ratio: 5 / 2.5;">
        <span class="badge bg-success mb-1"><%= berita_kpu[i].pubDate %></span>
        <h6 class="text-uppercase fw-bold text-muted"><%= berita_kpu[i].title %></h6>
        <!-- <p class="text-muted mb-2" style="text-align: justify;"><%= berita_kpu[i].description %></p> -->
      </div>
    </a>
  <% } %>  
  <% for (let i = 0; i < 1; i++) { %>
    <!-- <a href="/berita/detail/<%= berita_data[i].link %>" class="border-bottom mb-1" onmouseover="this.style.backgroundColor='#EBF1F1'" onmouseout="this.style.backgroundColor='';"> -->
    <a href="<%= berita_data[i].link %>" class="border-bottom mb-1" onmouseover="this.style.backgroundColor='#EBF1F1'" onmouseout="this.style.backgroundColor='';">
      <div class="col">
        <img src="<%= berita_data[i].thumbnail %>" class="card-img-top mb-2" alt="" style="height: auto; width: 100%; aspect-ratio: 5 / 2.5;">        
        <% function formatDate(isoDate) {
          const pubDate = new Date(isoDate);
          const options = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric', timeZone: 'Asia/Jakarta' };
          return pubDate.toLocaleDateString('id-ID', options);
        } %>
    
        <span class="badge bg-success mb-1"><%= formatDate(berita_data[i].pubDate) %></span>
        <h6 class="text-uppercase fw-bold text-muted"><%= berita_data[i].title %></h6>
        <!-- <p class="text-muted mb-2" style="text-align: justify;"><%= berita_data[i].description %></p> -->
      </div>
    </a>
  <% } %>  
</div>
